@-ms-viewport {
  width: device-width;
}

#search .input-field label + .material-icons {
  display: none;
}

#search .input-field label + .material-icons.active {
  display: block;
}

.deemphasize {
  opacity: .3 !important;
}

.ie .dropdown-label + .material-icons,
.ie #search {
  display: none;
}

.hide {
  display: none;
}

@media (max-width: 640px) {
  #sorts {
    display: none;
  }
}

@media (max-width: 460px) {
  #filters {
    display: none;
  }
}
