.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.deemphasize {
  opacity: .3 !important;
}

.card-close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: black;
}

.toast.error .message {
  padding-left: 5px;
  padding-right: 5px;
}

.fade-transition {
  transition: all .5s ease;
  opacity: 1;
}

.fade-enter,
.fade-leave {
  opacity: 0;
}

.search-form .material-icons.close {
  display: none;
}

.search-form .material-icons.close.active {
  display: block;
}

[v-cloak] {
  display: none;
}

@-ms-viewport {
  width: device-width;
}
